ion-header{
    background-color: #1a8135 !important;
    color: #fff;
    padding-left: 15px;
    ion-title{
        font-size: 18px;
        --color: #fff;
    }
    ion-icon{
        color: #fff;
    }
    ion-toolbar::part(background) {
        background-color: #1a8135;
    
    }
}



ion-content.notificationPG{
    height: 100vh !important;
    max-height: 100vh !important;
}

.notification-list {
  padding: 30px 15px;
}

.notification-card {
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 14px;
  padding: 0;

  ion-item {
    --padding-start: 12px;
    --inner-padding-end: 12px;
    --padding-top:12px;
    padding-bottom: 12px;
    --min-height: 70px;
    border-radius: 14px;
  }

  .icon {
    font-size: 24px;
    color: #1a8135;
    margin-right: 10px;
  }

  ion-label {
    h2 {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }

    p {
      font-size: 14px;
      margin: 2px 0;
      color: #555;
    }

    .time {
      font-size: 12px;
      color: #999;
    }
  }
  &:not(.unread){
    position: relative;
    &:after{
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 6px;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%2325D366' stroke-width='2' viewBox='0 0 24 24'><path d='M1 13l4 4L14 4'/><path d='M9 13l4 4L23 4'/></svg>") no-repeat center;
        background-size: contain;
        position: absolute;
        right: 10px;
        bottom: 10px;
        z-index: 1;
    }
  }

  &.unread {
    position: relative;
    &:after{
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        background: #1a8135; // WhatsApp green
        border-radius: 50%;
        animation: blink 2s infinite;
        z-index: 1;
    }
    @keyframes blink {
        0%, 50%, 100% { opacity: 1; }
        25%, 75% { opacity: 0; }
    }
  }
}
