<app-header></app-header>

<ion-content class="add-page">
  <div class="add-container">
    <form class="form" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
       <!-- Hidden ID field for new items -->
       <ion-input type="hidden" formControlName="id" style="display: none;"></ion-input>
       
       <ion-item class="no-style buttonRdo">
        <h3>I want to</h3>

        <ion-radio-group formControlName="item_listed_for">
          <div class="button-select-container">
            <label class="button-option">
              <ion-radio value="2" class="custom-radio"></ion-radio>
              <span>Buy</span>
            </label>

            <label class="button-option">
              <ion-radio value="1" class="custom-radio"></ion-radio>
              <span>Sale</span>
            </label>
          </div>
        </ion-radio-group>
      </ion-item>
      <div class="validation-error" *ngIf="submitted && f['item_listed_for'].errors">
        <span *ngIf="f['item_listed_for'].errors['required']">Please select whether you want to buy or sell</span>
      </div>

      <ion-item class="no-style">
        <div class="custom-inner">
          <ion-label class="formlebel">Item Name *</ion-label>
          <ion-input class="form-field" type="text" formControlName="item_name" placeholder="Enter item name"
            maxlength="60">
          </ion-input>



        </div>
      </ion-item>
      <div class="validation-error" *ngIf="submitted && f['item_name'].errors">
        <span *ngIf="f['item_name'].errors['required']">Item name is required</span>
        <span *ngIf="f['item_name'].errors['maxlength']">Item name cannot exceed 60 characters</span>
      </div>

      <ion-item class="no-style">
        <div class="custom-inner">
          <ion-label class="formlebel">HSN Code *</ion-label>
          <ion-input class="form-field" type="number" formControlName="hsn_code" placeholder="Enter HSN code"
            maxlength="8">
          </ion-input>

        </div>
      </ion-item>
      <div class="validation-error" *ngIf="submitted && f['hsn_code'].errors">
        <span *ngIf="f['hsn_code'].errors['required']">HSN code is required</span>
        <span *ngIf="f['hsn_code'].errors['maxlength']">HSN code cannot exceed 8 digits</span>
        <span *ngIf="f['hsn_code'].errors['pattern']">HSN code must be numeric</span>
      </div>

      <ion-item class="no-style">
        <div class="custom-inner">
          <ion-label class="formlebel">Description</ion-label>
          <ion-textarea class="form-field" formControlName="description" placeholder="Enter description" maxlength="255"
            rows="3">
          </ion-textarea>
        </div>
      </ion-item>

      <ion-item class="no-style">
        <div class="custom-inner">
          <ion-label class="formlebel">Quantity *</ion-label>
          <ion-input class="form-field" type="number" formControlName="quantity" placeholder="Enter quantity">
          </ion-input>
        
        </div>
      </ion-item>
      <div class="validation-error" *ngIf="submitted && f['quantity'].errors">
        <span *ngIf="f['quantity'].errors['required']">Quantity is required</span>
        <span *ngIf="f['quantity'].errors['min']">Quantity must be greater than 0</span>
      </div>

      <div class="no-style buttonRdo uom">
        <div class="title">
          <h3>Unit of Measurement *</h3>
        </div>
        <div class="radioWrap">

          <ion-radio-group formControlName="uom_id">
            <div class="button-select-container">
              <label class="button-option">
                <ion-radio value="2" class="custom-radio"></ion-radio>
                <span>KGS</span>
              </label>
  
              <label class="button-option">
                <ion-radio value="23" class="custom-radio"></ion-radio>
                <span>QUINTAL</span>
              </label>
              <label class="button-option">
                <ion-radio value="27" class="custom-radio"></ion-radio>
                <span>TON</span>
              </label>
            </div>
          </ion-radio-group>
        </div>
      </div>
      <div class="validation-error" *ngIf="submitted && f['uom_id'].errors">
        <span *ngIf="f['uom_id'].errors['required']">Please select unit of measurement</span>
      </div>

      <ion-item class="no-style">
        <div class="custom-inner">
          <ion-label class="formlebel">Price *</ion-label>
          <ion-input class="form-field" type="number" formControlName="price" placeholder="Enter price">
          </ion-input>
         
        </div>
      </ion-item>
      <div class="validation-error" *ngIf="submitted && f['price'].errors">
        <span *ngIf="f['price'].errors['required']">Price is required</span>
        <span *ngIf="f['price'].errors['min']">Price must be greater than 0</span>
      </div>

      <div class="no-style fileUpload">
        <div class="title">
          <h3>Item Images *</h3>
        </div>
        <div class="imgVid">
          <div class="uploadBox">
            <img src="assets/img/icons/upload-image.svg" alt="" title="">
            <p class="lgdesc">Upload Photos</p>
            <p class="desc">Please upload image size less than 2mb</p>
            <ion-input class="form-field" type="file" multiple accept="image/*" (change)="onImageChange($event)">
            </ion-input>
          </div>
          <div class="uploadBox">
            <img src="assets/img/icons/upload-video.svg" alt="" title="">
            <p class="lgdesc">Upload Video</p>
            <p class="desc">Please upload video size less than 100mb</p>
            <ion-input class="form-field" type="file" accept="video/*" (change)="onVideoChange($event)">
            </ion-input>
          </div>
        </div>
      </div>
      <div class="validation-error" *ngIf="submitted && selectedImages.length === 0">
        <span>Please select at least one image</span>
      </div>

      <!-- Display selected images -->
      <div class="selected-images" *ngIf="selectedImages.length > 0">
        <h4>Selected Images:</h4>
        <div class="image-preview">
          <div class="image-item" *ngFor="let image of selectedImages; let i = index">
            <img [src]="image.preview" alt="Preview">
            <ion-button fill="clear" size="small" (click)="removeImage(i)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>

      <!-- Display selected video -->
      <div class="selected-video" *ngIf="selectedVideo">
        <h4>Selected Video:</h4>
        <div class="video-preview">
          <video controls [src]="selectedVideo.preview"></video>
          <ion-button fill="clear" size="small" (click)="removeVideo()">
            <ion-icon name="close"></ion-icon> Remove Video
          </ion-button>
        </div>
      </div>

      <ion-button class="btn btn-grn no-style" expand="block" type="submit">
        <img class="btntextimg" src="assets/img/icons/download_done.svg">
        {{ isSubmitting ? 'Saving...' : 'Save Information' }}
      </ion-button>

    </form>
  </div>
</ion-content>

<app-footer></app-footer>

<!--LOADER-->
<div class="loader-overlay" *ngIf="enableLoader">
  <div class="loader-container">
    <img src="assets/img/ajax-loader.gif">
    <span class="ion-text-center"> Please wait</span>
  </div>
</div>
<!--LOADER-->