<app-header></app-header>

<ion-content class="itemlist-page">
  <div class="itemlist-container">
    <div class="filter">
      <form class="form">
        <div class="top">
          <!-- <ion-title class="itemTitle">Items</ion-title> -->
          <div class="filterItem">
            <ion-button class="btn no-style bid-now"><img src="assets/img/icons/magnifyingglass.svg" alt="" title="">
              Search</ion-button>
            <ion-item class="no-style">
              <div class="custom-inner selectId">
                <ion-select interface="popover" placeholder="Filter By" class="form-field" slot="start"
                  [(ngModel)]="searchField" [ngModelOptions]="{standalone: true}" placeholder="Select Type"
                  (ngModelChange)="selectFilter($event)">
                  <ion-select-option [value]="1">Price (Low to High) </ion-select-option>
                  <ion-select-option [value]="2">Price (High to Low)</ion-select-option>
                  <ion-select-option [value]="3"> quantiity (Low to High)</ion-select-option>
                  <ion-select-option [value]="4">quantiity (High to Low)</ion-select-option>
                  <ion-select-option [value]="5">Most Recent</ion-select-option>
                </ion-select>
              </div>
            </ion-item>
          </div>

        </div>
        <div class="bottom">
          <ion-item class="no-style">
            <div class="custom-inner search">
              <ion-input class="form-field" type="text" [(ngModel)]="searchKeyword"
                [ngModelOptions]="{standalone: true}" placeholder="Search" (keyup)="searchItem($event)"></ion-input>
            </div>
          </ion-item>
        </div>
      </form>
    </div>
     <!-- Other Items -->
  <div class="section">
    
    <div class="other-list">
      <ion-item class="no-style" *ngFor="let item of itemList; let i= index">
        <ion-avatar slot="start">
          <img [src]="item.user_image" />
        </ion-avatar>
        <ion-label>
          <h4 *ngIf="item.item_name">{{item.item_name}}</h4>
          <p *ngIf="item.company_name">{{item.company_name}}</p>
          <p *ngIf="item.full_name">{{item.full_name}}</p>
          <h3 *ngIf="item.price">{{item.price}}</h3>
        </ion-label>
        <div class="btnCont">
          <ion-button fill="clear" slot="end" class="btn no-style edit worning_badg">
            <ion-icon class="edit" name="create-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="btnCont multi" style="display: none;">
          <ion-button fill="clear" slot="end" class="btn no-style edit danger_badg">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" slot="end" class="btn no-style edit success_badg">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>

    </div>
  </div>
    
  </div>
  <ion-button class="btn no-style addBtn" (click)="goToAddItem()"><img src="assets/img/icons/add.svg" alt="" title=""></ion-button>
</ion-content>

<!--LOADER-->
<div class="loader-overlay" *ngIf="enableLoader">
  <div class="loader-container">
    <img src="assets/img/ajax-loader.gif">
    <span class="ion-text-center"> Please wait</span>
  </div>
</div>
<!--LOADER-->

<app-footer></app-footer>