<ion-content class="login-page">
  <div class="header-section">
    <img src="assets/img/logo.png" alt="GRH Logo" />
    <h1>Get Started Now</h1>
    <p>Create an account or log in to explore GRH</p>
  </div>

  <div class="card">
    <div class="toggle-tabs">
      <button class="tab active">Log In</button>
      <button class="tab">Register</button>
    </div>

    <form>
      <ion-label class="form-label">Email</ion-label>
      <ion-item lines="none" class="input-field">
        <ion-input type="email" placeholder="yourname@example.com"></ion-input>
      </ion-item>
      <ion-label class="form-label">Password</ion-label>
      <ion-item lines="none" class="input-field">
        <ion-input type="password" placeholder="********"></ion-input>
        <ion-icon name="eye-outline" slot="end"></ion-icon>
      </ion-item>

      <div class="options-row">
        <ion-checkbox slot="start"></ion-checkbox>
        <span>Remember me</span>
        <a class="forgot-link" routerLink="/forgot-password">Forgot Password ?</a>
      </div>

      <ion-button expand="block" class="login-button">Log In</ion-button>

      <div class="divider">
        <span>Or</span>
      </div>

      <button type="button" class="google-signin">
        <img src="assets/img/google.svg" />
        Sign up with Google
      </button>
    </form>
  </div>
</ion-content>
