<swiper-container
  #swiperContainer
  pagination="true"
  pagination-clickable="true"
  slides-per-view="1"
  centered-slides="true"
  space-between="12"
  style="overflow: visible;"
  class="introslider"
  id="customSwiper"
>
  <swiper-slide class="my-slide slide1">
    <div class="content">
      <img src="assets/img/logo.png" alt="Global Rubber Hub">
      <ion-title>
        Connect. Trade.<br>Expand Globally.
      </ion-title>
      <p class="lgdesc">Join a trusted global hub where verified buyers and sellers connect, trade seamlessly, and expand their reach worldwide.</p>
    </div>
  </swiper-slide>
  <swiper-slide class="my-slide slide2">
    <div class="content">
      <img src="assets/img/logo.png" alt="Global Rubber Hub">
      <ion-title>
        Bid Live.<br> 
        Win Smarter.
      </ion-title>
      <p class="lgdesc">Compete in fast, transparent, and real-time rubber auctions.<br> Get the best prices and deals — anytime, anywhere.</p>
    </div>
  </swiper-slide>
  <swiper-slide class="my-slide slide3">
    <div class="content">
      <img src="assets/img/logo.png" alt="Global Rubber Hub">
      <ion-title>
        Track. <br>
        Trade. Thrive.
      </ion-title>
      <p class="lgdesc">Stay in control — monitor live prices, manage orders, and make data-driven decisions that grow your rubber business.</p>
    </div>
  </swiper-slide>
</swiper-container>
<ion-button class="skip" expand="full" (click)="goToLogin()">Skip</ion-button>
