
// DART SCSS version: sass@1.50.0

@use './layout/normalize';
@use './project/typo';
@use './abstracts/util';
@use './abstracts/grid';
@use './abstracts/max-width';
@use './abstracts/aspectratio';
@use './components/buttons';
@use './components/form';
@use './project/main';

.validation-error {
    color: #ff0000;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 2px;
    min-height: 17px;
}