
.cropper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  margin-bottom: 20px;
  
  image-cropper {
    max-width: 100%;
    max-height: 600px;
    width: 100%;
  }
}

.action-buttons {
  margin-top: 20px;
  padding: 0 16px;
  background-color: #1a8135 !important;
  text-transform: capitalize;
}

ion-content {
  --background: var(--ion-color-light);
}

ion-header{
    background-color: #1a8135 !important;
    color: #fff;
    padding-left: 15px;
    ion-title{
        font-size: 18px;
        --color: #fff;
    }
    ion-icon{
        color: #fff;
    }
    ion-toolbar::part(background) {
        background-color: #1a8135;
    
    }
}

// Responsive adjustments
@media (max-width: 768px) {
  .cropper-container {
    min-height: 400px;
    
    image-cropper {
      max-height: 500px;
    }
  }
}

@media (max-width: 480px) {
  .cropper-container {
    min-height: 350px;
    
    image-cropper {
      max-height: 450px;
    }
  }
}
