





<ion-content class="login-page">
  <div class="header-section">
    <img src="assets/img/logo.png" alt="GRH Logo" />
    <h1>Get Started Now</h1>
    <p>Check your email and enter the OTP to reset your password</p>
  </div>

  <div class="card">
    <div class="toggle-tabs">
      <button class="tab active">Enter OTP</button>    
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <ion-label class="form-label">OTP</ion-label>
      <ng-otp-input (onInputChange)="onOtpChange($event)" formControlName="emailOTP" [config]="{ length: 6 ,allowNumbersOnly:true}"></ng-otp-input>
      <div class="validation-error">
        <span *ngIf="submitted && f['emailOTP'].errors">
          <div *ngIf="f['emailOTP'].errors['required']">Please enter your OTP</div>
        </span>
      </div>     
      <ion-button expand="block" class="login-button" type="submit">Submit </ion-button>
      <a [routerLink]="['/login']"><b>Login</b></a>

   
    </form>
  </div>
</ion-content>
