





<ion-content class="login-page">
  <div class="header-section">
    <img src="assets/img/logo.png" alt="GRH Logo" />
    <h1>Get Started Now</h1>
    <p>Recover your account quickly and safely</p>
  </div>

  <div class="card">
    <div class="toggle-tabs">
      <button class="tab active">Retrieve Password</button>    
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <ion-label class="form-label">Email</ion-label>
      <ion-item lines="none" class="input-field ion-no-padding">
        <ion-input type="email" formControlName="email" name="email" 
        autocomplete="email" inputmode="text" ></ion-input>
      </ion-item>
      <div class="validation-error">
        <span *ngIf="submitted && f['email'].errors">
          <div *ngIf="f['email'].errors['required']">Please enter your email address</div>
          <div *ngIf="f['email'].errors['pattern']">Please enter a valid email address</div>
        </span>
      </div>     
      <ion-button expand="block" class="login-button" type="submit">Get New Password </ion-button>
      <a [routerLink]="['/login']"><b>Login</b></a>

   
    </form>
  </div>
</ion-content>
