<app-header></app-header>

<ion-content class="account-page account-wrapper">
  <div class="account-container">
    <!-- <ion-title class="accountTitle">Account</ion-title> -->
    <ion-button class="btn no-style back" (click)="goBack()"><img src="assets/img/icons/arrow_forward.svg" alt="" title="">Back</ion-button>

    <div class="accountInfo">
      <div class="profileimg"  *ngIf="profileImage && !showPlaceholder">
        <img [src]="profileImage" alt="Profile Photo" (error)="onImageError($event)" />
      </div>     
      <div class="profileimg placeholder" *ngIf="showPlaceholder || !profileImage">
        <ion-icon name="person" class="user-icon"></ion-icon>
      </div>
      <div class="content">
        <ion-title class="name">{{profileDetails.full_name}}</ion-title>
        <div class="addressCall">
            <p class="address" *ngIf="profileDetails.city && profileDetails.state"><img src="assets/img/icons/location_on.svg" alt="" title="" >{{profileDetails.state}}</p>
            <p class="address" *ngIf="!profileDetails.city && !profileDetails.state">N/A</p>
            <ion-button class="btn no-style"><img src="assets/img/icons/mobile.svg" alt="" title="">{{profileDetails.country_code}}{{profileDetails.phone}}</ion-button>
        </div>
        <ion-button class="btn no-style editprofile" (click)="goToEditProfile()">Edit Profile</ion-button>

      </div>
    </div>
    <ion-list class="no-style card">
      <ion-item class="account-row no-style accountItem">
        <div class="icon"><img src="assets/img/icons/wallet.svg" alt="" title=""></div>
        <ion-label>
          <h3>Wallet Balance</h3>
          <h3 style="color: #2b8a3e">{{profileDetails.points}}</h3>
        </ion-label>
        <ion-button class="btn no-style subscribe" (click)="openWalletModal()"><ion-icon name="cash-outline"></ion-icon>&nbsp;Add</ion-button>
      </ion-item> 

      <ion-item class="account-row no-style accountItem">
        <div class="icon"><img src="assets/img/icons/legend_toggle.svg" alt="" title=""></div>
        <ion-label>
          <h3>Mandi Pro</h3>
          <p *ngIf="profileDetails.is_pro_user != 1">No Active Plan</p>
          <p *ngIf="profileDetails.is_trusted == 1 && !checkExpiryDateMandiPro">Package expired on {{profileDetails.pro_user_expiry | date:'dd/MM/yyyy'}}</p>
        </ion-label>
        <ion-button class="btn no-style subscribe" *ngIf="profileDetails.is_pro_user != 1" (click)="onMandiProSubscribe()">Subscribe</ion-button>
      </ion-item>

      <ion-item class="account-row no-style accountItem">
        <div class="icon"><img src="assets/img/icons/gpp_maybe.svg" alt="" title=""></div>
        <ion-label>
          <h3>Trusted Seller</h3>
          <p *ngIf="profileDetails.is_trusted != 1">No Active Plan</p>
          <p *ngIf="profileDetails.is_trusted == 1 && !checkExpiryDate">Package expired on {{profileDetails.trusted_package_expiry | date:'dd/MM/yyyy'}}</p>
        </ion-label>
        <ion-button class="btn no-style subscribe" *ngIf="profileDetails.is_trusted != 1" (click)="onTrustedSellerSubscribe()">Subscribe</ion-button>
      </ion-item>      
    </ion-list>

    <ion-list class="no-style card">
      <ion-item class="account-row no-style accountItem">
        <div class="icon"><img src="assets/img/icons/language.svg" alt="" title=""></div>
        <ion-label>
          <h3>Choose Language</h3>
        </ion-label>
        <ion-radio-group name="language" value="english">
          <div class="language-select-container">
            <label class="language-option">
              <ion-radio value="english" class="custom-radio" ></ion-radio>
              <span>English</span>
            </label>

            <label class="language-option">
              <ion-radio value="hindi" class="custom-radio"></ion-radio>
              <span>Hindi</span>
            </label>
          </div>
        </ion-radio-group>

      </ion-item>

      <!-- <ion-item class="account-row no-style accountItem">
        <div class="icon"><img src="assets/img/icons/database.svg" alt="" title=""></div>
        <ion-label>
          <h3>My Commodities</h3>
        </ion-label>
        <img src="assets/img/icons/arrow_circle_right.svg" alt="" title="">
      </ion-item> -->

      <ion-item class="account-row no-style accountItem" (click)="goToVerifyNow()">
        <div class="icon"><img src="assets/img/icons/person.svg" alt="" title=""></div>
        <ion-label>
          <h3>Verify Now!</h3>
          <p>To increase your creditability</p>
        </ion-label>
        <img src="assets/img/icons/arrow_circle_right.svg" alt="" title="">
      </ion-item>

      <ion-item class="account-row no-style accountItem" (click)="goToTrustedSeller()">
        <div class="icon"><img src="assets/img/icons/shield_person.svg" alt="" title=""></div>
        <ion-label>
          <h3>Trusted Seller <ion-icon name="star" class="crown-mark" *ngIf="profileDetails.is_trusted == 1"></ion-icon></h3>
          <!-- <p>To get more calls/chats</p> -->
        </ion-label>
        <img src="assets/img/icons/arrow_circle_right.svg" alt="" title="">
      </ion-item>

    </ion-list>


    <ion-list class="no-style card">
      <ion-item class="account-row no-style accountItem" (click)="goToHelpVideo()">
        <div class="icon"><img src="assets/img/icons/help.svg" alt="" title=""></div>
        <ion-label>
          <h3>How to use the app</h3>
        </ion-label>
        <img src="assets/img/icons/arrow_circle_right.svg" alt="" title="">
      </ion-item> 

      <ion-item class="account-row no-style accountItem">
        <div class="icon"><img src="assets/img/icons/circles_ext.svg" alt="" title=""></div>
        <ion-label>
          <h3>Share with Friends</h3>
        </ion-label>
        <img src="assets/img/icons/arrow_circle_right.svg" alt="" title="">
      </ion-item>

      <ion-item class="account-row no-style accountItem">
        <div class="icon"><img src="assets/img/icons/headphones.svg" alt="" title=""></div>
        <ion-label>
          <h3>Help and Support</h3>
          <p>connect@globalrubberhub.com</p>
        </ion-label>
        <img src="assets/img/icons/arrow_circle_right.svg" alt="" title="">
      </ion-item>

      <ion-item class="account-row no-style accountItem">
        <div class="icon"><img src="assets/img/icons/kid_star.svg" alt="" title=""></div>
        <ion-label>
          <h3>Rate us</h3>
        </ion-label>
        <img src="assets/img/icons/arrow_circle_right.svg" alt="" title="">
      </ion-item>
    </ion-list>
    <!-- Debug Test Button (Temporary) -->
    
    
    <ion-button class="btn btn-grn no-style logout" expand="block" type="button" (click)="confirmLogout()"><img class="btntextimg" src="assets/img/icons/chip_extraction.svg">Logout</ion-button>


  </div>
</ion-content>

<app-footer></app-footer>

<!-- Wallet Recharge Bottom Sheet -->
<ion-modal
  [isOpen]="isWalletModalOpen"
  (didDismiss)="closeWalletModal()"
  cssClass="plans-bottom-sheet account-plans-bottom-sheet"
  [initialBreakpoint]="0.58"
  [breakpoints]="[0.58, 0.58]"
>
  <ng-template>
    <div class="plans-modal">
      <div class="drag-handle"></div>

      <div class="plan plan--monthly" *ngFor="let package of packageList"  (click)="selectPlan(package)" [class.active]="selectedPackage===package">
        <div class="plan-title">{{package.name}} ({{package.coin}} Coins)<br> <small>{{package.description}}</small></div>
        <div class="plan-price">₹ {{package.price}}</div>
      </div>

    

      <ion-button class="btn btn-grn no-style pay-btn" expand="block" type="button" (click)="paySelectedPlan()">
        Pay ₹ {{ totalWithGst | number:'1.2-2' }}
      </ion-button>
      <ion-button class="btn no-style cancel-btn" expand="block" type="button" (click)="closeWalletModal()">Cancel</ion-button>
    </div>
  </ng-template>
</ion-modal>

<!--LOADER-->
<div class="loader-overlay" *ngIf="enableLoader">
  <div class="loader-container">
    <img src="assets/img/ajax-loader.gif">
    <span class="ion-text-center"> Please wait</span>
  </div>
</div>
<!--LOADER-->

